In [1]:
'''
LIN 371 UTexas:: Jessy Li
Original material from Byron Wallace
'''
import numpy as np 

import sklearn 
from sklearn import tree # decision trees!
from sklearn.model_selection import train_test_split

import pandas as pd

In [2]:
'''
Credit goes to Byron Wallace and https://github.com/savarin/pyconuk-introtutorial
'''
titanic_data = pd.read_csv('titanic.processed.csv')
titanic_data.head()

   Unnamed: 0 Class   Sex    Age Survived
0           1   1st  Male  Child       No
1           2   2nd  Male  Child       No
2           3   3rd  Male  Child       No
3           3   3rd  Male  Child       No
4           3   3rd  Male  Child       No

In [9]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2209 entries, 0 to 2208
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2209 non-null   int64
 1   Class       2209 non-null   object
 2   Sex         2209 non-null   object
 3   Age         2209 non-null   object
 4   Survived    2209 non-null   object
dtypes: int64(1), object(4)
memory usage: 86.4+ KB

In [3]:
titanic_data["Class"].unique()

array(['1st', '2nd', '3rd', 'Crew'], dtype=object)

In [4]:
titanic_data["Sex"].unique()

array(['Male', 'Female'], dtype=object)

In [5]:
titanic_data["Age"].unique()

array(['Child', 'Adult'], dtype=object)

In [6]:
titanic_data["Survived"].unique()

array(['No', 'Yes'], dtype=object)

In [10]:
titanic_data.dtypes

Unnamed: 0     int64
Class         object
Sex           object
Age           object
Survived      object
dtype: object

In [11]:
# we need to convert this into features
class_indicators = pd.get_dummies(titanic_data['Class'])
print(class_indicators)

      1st  2nd  3rd  Crew
0       1    0    0     0
1       0    1    0     0
2       0    0    1     0
3       0    0    1     0
4       0    0    1     0
...   ...  ...  ...   ...
2204    0    0    0     1
2205    0    0    0     1
2206    0    0    0     1
2207    0    0    0     1
2208    0    0    0     1

[2209 rows x 4 columns]

## Random Forest

A demo using the titanic dataset. Note however: this dataset doesn't have as many features, so the power of random forest cannot be exploited fully. Try on a dataset with many features and you will see the difference!

In [8]:
#Build a random forest classifier!